/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
  width: 960px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 32px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #b8b6b6;
  font-weight: 600;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  .company-logo {
    order: -1;
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid gray;
    text-align: center;
  }
  .company-logo {
    margin: 0;
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.title {
  font-size: 82px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title button {
  padding: 8px 24px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
}

.header-img {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .header-img {
    visibility: hidden;
    display: none;
  }
}

main {
  padding: 32px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.top-articles {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 0 16px;
}

.features {
  padding-right: 16px;
}

.main-img {
  padding: 16px;
}

@media (max-width: 800px) {
  .middle-img {
    width: 90vw;
  }
}

.bottom-articles {
  display: flex;
  margin: 16px 0;
  padding: 0 16px;
}

.products {
  padding: 0 32px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  padding: 0 16px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.contact-info p {
  padding: 10px 0;
}

.copyright {
  text-align: center;
  padding-bottom: 24px;
}


